{{ define "main" }}
    <header class="homepage-header">
        <h1>{{ .Title }}</h1>
        {{ with .Params.subtitle }}
        <span class="subtitle">{{ . }}</span>
        {{ end }}
    </header>
    <div class="homepage-content">
        {{ .Content }}
    </div>
    <div>
        {{ range first 10 .Pages }}
            {{ .Render "summary" }}
            <hr>
        {{ end }}
    </div>
    <center>
        <a href="tags.html">all tags</a> ~
        <a href="posts.html">all posts</a> ~
        <a href="index.xml">rss</a>
    </center>
    <br>
{{ end }}
