<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/gruvbox.css">
        <link href="/_pagefind/pagefind-ui.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/blog.css">
        <script src="/_pagefind/pagefind-ui.js" type="text/javascript"></script>
        <script>
            window.addEventListener('DOMContentLoaded', (event) => { new PagefindUI({ element: "#search" }); });
        </script>
        <title>{{- block "title" . }}{{ .Site.Title }}{{ end -}}</title>
    </head>

    <body>
        <main>
            <div id="search"></div>
            {{- partial "header.html" . -}}
            {{- block "main" . }}{{ end -}}
            {{- partial "footer.html" . -}}
        </main>
    </body>
</html>
