<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ "gruvbox.css" | absURL }}">
        <link rel="stylesheet" type="text/css" href="{{ "_pagefind/pagefind-ui.css" | absURL }}">
        <link rel="stylesheet" type="text/css" href="{{ "blog.css" | absURL }}">
        <script type="text/javascript" src="{{ "_pagefind/pagefind-ui.js" | absURL }}"></script>
        <script>
            window.addEventListener('DOMContentLoaded', (event) => { new PagefindUI({ element: "#search" }); });
        </script>
        <title>{{- block "title" . }}{{ .Site.Title }}{{ end -}}</title>
    </head>

    <body>
        <main>
            <div id="search"></div>
            {{- partial "header.html" . -}}
            {{- block "main" . }}{{ end -}}
            {{- partial "footer.html" . -}}
        </main>
    </body>
</html>
